<p id="notice"><%= notice %></p>

<h1>Recent Projects</h1>

<table>
  <thead>
    <tr>
      <!-- <th>Name</th> -->
      <th>Project</th>
      <!-- <th>Projectdescription</th> -->
      <th>Information</th>
<!--       <th>Projectclient</th>
      <th>Projectcollaborators</th>
      <th>Projectstart</th>
      <th>Projectend</th>
      <th>Projectlink</th>
      <th>Projecttag</th> -->
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <!-- <td><%= link_to project.projectName, project %></td> -->
        <td><%=link_to image_tag(project.projectImage, size: "300", alt: "Edit Entry"), project %></td>
        <!-- <td><%= project.projectDescription %></td> -->
        <td><p>Worked as a <%= project.projectRole %> for <% if project.projectClient != ""%><%=project.projectClient%><%else%><%concat" my personal project"%><%end%>.<br />Released on <%=link_to URI.parse(project.projectLink).host, project.projectLink%>.<br />Click <%=link_to "here", project%> for more info.</p></td>
        <!-- <td><%= project.projectClient %></td>
        <td><%= project.projectCollaborators %></td>
        <td><%= project.projectStart %></td>
        <td><%= project.projectEnd %></td>
        <td><%= project.projectLink %></td>
        <td><%= project.projectTag %></td> --><!-- 
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
