<p id="notice"><%= notice %></p>

<h1>Recent Projects</h1>

<div class="container">
  <% @projects.each do |project| %>
    <div class="row">
      <div class="col-sm-6">
        <!-- <%= link_to project.projectName, project %> -->
        <%=link_to image_tag(project.projectImage, size: "300", alt: "Edit Entry"), project %>
        <!-- <%= project.projectDescription %> -->
     <!--    <%= project.projectClient %>
        <%= project.projectCollaborators %>
        <%= project.projectStart %>
        <%= project.projectEnd %>
        <%= project.projectLink %>
        <%= project.projectTag %> -->
<!--           <%if current_user%>
        <%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%end%> -->
      </div>
      <div class="col-sm-6">
        <p>Worked as a <%= project.projectRole %> for <% if project.projectClient != ""%><%=project.projectClient%><%else%><%concat" my personal project"%><%end%>.<br />Released on <%=link_to URI.parse(project.projectLink).host, project.projectLink%>.<br />Click <%=link_to "here", project%> for more info.</p>
      </div>
    </div>
  <% end %>
<div class="alert alert-info">
  <strong>Info:</strong> Showing only a couple of my projects. Ask me about my other projects through email.
</div>


<br>

<!-- <%= link_to 'New Project', new_project_path %> -->
